.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    font-family: monospace;
    font-style: bold;
  }
  
  h1,
  h2 {
    text-align: center;
  }
  
  h1{ 
    font-size: 40px;
  }

  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    display: inline;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ff7272;
    border-radius: 4px;
  }
  
  input[type="submit"] {
    width: 104%;
    padding: 10px;
    background-color: #ffbebe;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-style: bold;
    font-size: 20px;
  }
  
  input[type="submit"]:hover {
    background-color: #ff9494;
  }
  
  .gender {
    padding-bottom: 20px;
  }

  @media (min-width: 768px) {
    .container {
      min-width: 768px;
    }
  
    h1 {
      font-size: 48px;
    }
  
    input[type="submit"] {
      width: auto;
    }
  }